<div class="row">
	<div class="col-3"></div>
	<div class="col-6">
		<%= form_tag(root_path, method: "get") do %>
		  <%= label_tag(:query, "Search for a github repo: ") %>
		  <%= text_field_tag :query, '', class: 'form-control' %>
		  <br>
		  <%= select_tag :search_type, options_for_select(SEARCH_TYPE), class: 'custom-select' %>
		  <br>
		  <br>
		  <%= submit_tag("Search", class: 'btn btn-primary') %>
		<% end %>	
	</div>
	<div class="col-3"></div>
</div>

<br>
<div class="row">
	<div class="col-4"></div>
	<div class="col-4">
		<ul class="list-group">
			<% if @repo_items.present? %>
				<% @repo_items.each do |repo| %>
					<li class="list-group-item">
						<%= link_to repo.html_url, target: '_blank' do %>
							<%= repo.full_name %>
						<% end %>	
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
	<div class="col-4">
		<%= link_to "Next", root_path(target_page_num: next_page_num(@curr_page), query: @query, search_type: @search_type) %>
		<%= link_to "Prev", root_path(target_page_num: prev_page_num(@curr_page), query: @query, search_type: @search_type) %>
	</div>
</div>
